@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}
.basic-container {
  padding: 30px;
}
mat-chip {
    min-width: 90px;
    text-align: center;
}
.person-name {
    font-size: large;
    font-style: italic;
    padding-left: 15px;
    padding-right: 15px;
}